@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 1000px;
}

.container {
  margin: 0;
  height: 50px;
}

.btn {
  background-color: #E27D60;
  color: white;
  border: gold solid 1px;
}
